body {
    background-color: #C3D9FF;
    background-image: url("/images/lbluegraygrad.png");
    background-repeat: repeat-x;
    font-family: "DejaVu Sans", "Arial";
}

img {
    border: none;
}

h2 {
    margin-top: 0;
}

h4, h5 {
    margin: 4px 0;
}

h4 {
    font-size: 1.25em;
}

a {
    font-size: 12px;
}

a:link, a:visited {
    color: #616c7e;
    text-decoration: none;
}

a:hover, a:visited:hover {
    color: black;
    text-decoration: underline overline;
}

#container {
    width: 1200px;
    margin: 0 auto 30px;
}

#display_tab {
    padding:0px;
}

#display_tab a:link, #display_tab a:visited {
    color: silver;
}

#display_tab a:hover {
    color: #E5E5E5;
    text-decoration: underline overline;
}

#display_tab ul {
    float:left;
    padding:0px;
    margin:0px;
    list-style:none;
}

#display_tab li {
    width:125px;
    float:left;
    text-align: center;
    border-right:1px solid black;
    border-top:2px solid black;
    border-left:1px solid black;
    background-color:silver;
    position:relative;
    top:7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}

#display_tab li.current {
    background-color: #E5E5E5;
    padding-top:2px;
}

#display_tab li.first {
    border-left:2px solid black;
}

#display_tab li.last {
    border-right:2px solid black;
    margin-right: 10px;
}

#display_tab a {
    font-weight:bold;
}

span#search_box {
    float: right;
    border-right:2px solid black;
    border-top:2px solid black;
    border-left:1px solid black;
    background-color: #E5E5E5;
    position:relative;
    padding: 5px 5px 0px;
    top:2px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}

.round {
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

.round_bottom {
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    -moz-border-radius-bottomright: 7px;
    -moz-border-radius-bottomleft: 7px;
    -webkit-border-bottom-right-radius: 7px;
    -webkit-border-bottom-left-radius: 7px;
}

.round_top {
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;
}

div.pop_up {
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    background-color: white;
    border: 2px solid black;
    left: 30%;
    max-height: 500px;
    padding: 20px 10px 20px 20px;
    position: fixed;
    top: 100px;
}

div.inner_scroll {
    overflow: auto;
    max-height: 460px;
    padding-right: 10px;
}

div.fade_back {
    background-color: black;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: 100%;
}

#lev1 {
    z-index: 21
}

#lev2 {
    z-index: 23
}

#lev3 {
    z-index: 25
}

#lev4 {
    z-index: 27
}

#trans1 {
    z-index: 20
}

#trans2 {
    z-index: 22
}

#trans3 {
    z-index: 24
}

#trans4 {
    z-index: 26
}

div.window_close_block {
    bottom:8px;
    float:right;
    position:relative;
}

img.window_close {
    width: 15px;
    height: 15px;
}

#top_nav {
    font-size: 13px;
    width: 1200px;
    margin: 0 auto;
    height: 50px;
    border: 1px solid transparent;
    background-color: transparent; /* #E5E5E5;
    -moz-border-radius: 7px;
    border-radius: 7px; */
}

#top_nav a:link, a:visited {
    color: #616c7e;
    text-decoration: none;
}

#top_nav a:hover {
    color: black;
    text-decoration: underline overline;
}

#user_info {
    float:right;
    padding: 3px 5px;
    background-color: #E5E5E5;
    border: 2px solid black;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}

#flash_info {
    width: 600px;
    margin: 0 auto;
    margin-top: 13px;
    text-align: center;
}

#page_title {
    width: 20%;
    float: left;
    margin-left: 40px;
}

#page_title a, #page_title a:hover {
    text-decoration: none;
    font-size: 32px;
    font-weight: 900;
    color: white;
    text-shadow:#000 1px 1px 6px;
}

span.notice {
    padding: 3px;
    border: 2px solid #008C00;
    color: #008C00;
    background-color: #e0ffd5;
}

span.alert {
    padding: 3px;
    border: 2px solid #B02B2C;
    color: #B02B2C;
    background-color: #f8dde1;
}

span.logged_user {
    float:left;
    margin-right: 10px;
}

#user_info label {
    font-weight: bold;
}

#user_info .user_avatar {
    float:left;
}

.user_avatar img {
    max-width: 30px;
    max-height: 30px;
}

div#view_filters {
    /*position:fixed;
    bottom:0;
    left:0;
    right:0;*/
}

div#show_view_filters {
    background-color: silver;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 8%;
    float:left;
    padding-left: 5px;
}

div.field {
    margin-right: 10px;
}

div#general_filters {
    /*border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-topleft: 7px;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-top-left-radius: 7px;*/
    margin-top: 15px;
    /*background-color: #E5E5E5;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;*/
    float:left;
    width: 100%;
}

div#platforms_general_filters,
div#publishers_general_filters,
div#developers_general_filters {
    font-size: 13px;
    background-color: #E7E7E7;
    margin: 5px 5px 5px 0px;
    float:left;
    height: 145px;
    border: 1px solid black;
    padding: 3px 5px 5px;
    width: 20%;
    overflow-y: scroll;
}

div#first_filter_cat {
    float:left;
    text-align: right;
    position:relative;
    left: 1px;
}

#first_filter_cat a {
    font-size: 16px;
}

div#first_filter_cat ul {
    float:left;
    padding:5px 0px 5px 5px;
    margin:0px;
    list-style: none;
}

div#first_filter_cat li {
    padding:2px 4px;
}

#developers_tab {
    border-bottom: 1px solid black;
}

li.nc_show_filter {
    background-color: #CACFD7;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

li.current_show_filter {
    border-left:1px solid black;
    border-top:1px solid black;
    border-right: 1px solid transparent;
    background-color: #E7E7E7;
}

li.current_show_filter a {
    color: black !important;
}

li.current_show_filter a:hover {
    text-decoration: none;
}

span.check_top_filter {
    float:right;
}

span.general_links {
    float:right;
    padding-right: 5px;
    text-align: right;
}

span.title_top_filter {
    font-weight:bold;
    font-size: 14px;
    padding-top: 13px;
}
