<div class="window_close_block">
  <%= link_to(image_tag("window-close.png", :class => "window_close"), { :controller => 'games', :action => 'close_pop', :div_id => 'dev_pub' }, :remote => true) %>
</div>