<% sh = 0 %>
<% if sh == 0 and not @sh %>
  <% sh = @day.length - 1 %>
<% else %>
  <% sh = @sh %>
<% end %>
<span class="day_text"><strong><%= @day_text.to_i.to_s %></strong> <%= " ("+@day.first.to_s+")" %></span>

<div class="table_div">
  <table>
    <tr>
      <% for game in @day %>
        <% unless game.class == Fixnum %>
          <% if @publishers_year and @developers_year %>
            <% for publisher in game.publishers %>
              <% @publishers_year << publisher unless @publishers_year.include?(publisher) %>
            <% end %>
            <% for developer in game.developers %>
              <% @developers_year << developer unless @developers_year.include?(developer) %>
            <% end %>
          <% end %>
          <td class="boxart_block">
            <%= box_logo(game, :thumb, :prototip => true, :tooltip => true, :hover => true) %>
            </td>
          <% end %>
        <% end %>
      </tr>
    </table>
  </div>

